<div class="row">
  <h1>Os mais Populares</h1>
  <div class="card-deck">
    <% @movies['results'].each do |movie| %>
      <div class="col-sm-3">
        <div class="card mt-4">
          <%= image_tag("https://image.tmdb.org/t/p/w200/#{movie['poster_path']}", class:"card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= movie['title'].truncate(20) %></h5>
            <p class="card-text"><small class="text-muted"><%= movie['release_date'] %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



